<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div class="container mt-5">
    <div class="array" th:each="el : ${title}">
        <p th:text="${el.getId() + ' ' + el.getLastNameTransliteration() + ' ' + el.getFirstNameTransliteration()}"></p>
        <p th:text="${el.getLastNameCyrillic() + ' '+ el.getFirstNameCyrillic() + ' ' + el.getMidlNameCyrillic()}"></p>
        <p th:text="${el.getDetailUserEntity()}"></p>
        <p th:text="${el.getCredentialUserEntity()}"></p>
    </div>

</div>

</body>
</html>